<%=render template: "layouts/index"%>

<h1><%=@building.name%></h1>

<div>
    <table>
    <tr>
        <th>Apartment Number </th>
        <th>Tenant</th>
    </tr>
    
    <%@building.units.all.each do |u|%>
        <tr>
            <td><%=link_to u.apt_num, building_unit_path(@building, u)%></td>
            <td><%=u.tenant%></td>
        </tr>
    <% end %>
    </table>
</div>

<br>
<%=link_to "Add More Unit", new_building_unit_path(@building), class: "button"%>
