<%=render template: "layouts/index"%>

<h1><%=@building.name%></h1>

<div>
    <table>
    <tr>
        <th>Apartment Number </th>
        <th>Tenant</th>
    </tr>
    
    <%@building.units.all.each do |u|%>
        <tr>
            <td><%=u.apt_num%></td>
            <td><%=u.tenant%></td>
        </tr>
    <% end %>
    </table>
</div>

<br>
<%=link_to "Add More Unit", new_unit_path, class: "button"%>
